@import "variables";

#footer {
  background: $gray;
  position: relative;
  .inside {
    .donation {
      z-index: 20;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      .border-radius {
        background: white url("/files/assets/layout_2024/stoerer-footer.svg") no-repeat;
        position: relative;
        border-radius: 50%;
        border: 15px solid white;
        width: 230px;
        height: 230px;
        background-size: 230px;
        transition: transform 250ms;
        &:hover {
          transform: rotate(30deg);
        }
      }
      p {
        text-align: center;
        font: normal normal 700 22px/30px Open Sans;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
        left: 50%;
      }
    }
  }
}

.footer {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  .footer-top {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    align-items: center;
    .ce_text {
      font: normal normal 400 18px/24px Open Sans;
      color: #BCBBBB;
      text-transform: uppercase;
    }
    .ce_image {
      width: 200px;
    }
  }
}

.logo-footer {
  position: relative;
  margin: 50px 0;
  width: 100%;
  .link-header {
    a {
      color: white;
    }
  }
  .footer-social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
    a {
      .test {
        stroke: #0866ff;
      }
      img {
        filter: brightness(0) invert(1);
        transition: filter 250ms;
      }
      &:hover img {
        filter: brightness(1) invert(0)
      }
    }
  }
}

.footer-middle {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  .ce_text, .footer-middle-right{
    width: 24%;
    color: white;
    text-align: center;
    p {
      font: normal normal 400 18px/26px Open Sans;
      strong {
        font-weight: 700;
      }
      a {
        color: white;
        transition: color 250ms;
        &:hover {
          color: $gelb;
        }
      }
    }
  }
}

.footer-middle .footer-middle-right .weather {
  width: 222px;
  margin: 0 auto;
}


#footer .footer .partner-category .ce_text, .menu-bottom .partner-category .ce_text {
  height: 136px;
  position: relative;
/*  width: 249px;*/
  width: 230px;
  p {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    text-align: center;
    left: 50%;
    opacity: 1;
    z-index: 10;
    a {
      color: $gelb;
      background: white;
      padding: 10px 20px;
      box-shadow: 3px 3px 10px #00000029;
      transition: color 250ms, background-color 250ms;
      &:hover {
        color: white;
        background-color: $gelb;
      }
    }
  }
  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/files/content/Sponsoren/Kukm_Logo.jpg") no-repeat;
    opacity: .6;
    background-size: 100%;
  }
}

.footer-social-icons {
  p {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 135px;
    a {
      img {
        transition: filter 250ms;
        &:hover {
          filter: brightness(0) saturate(100%) invert(50%) sepia(91%) saturate(495%) hue-rotate(11deg) brightness(99%) contrast(100%);
        }
      }
    }
  }
}

.footer.weimar-block {
  .footer-middle {
    justify-content: center;
    .ce_text {
      width: 40%;
      text-align: right;
      margin: 0 10px;
      &:last-child {
        text-align: left;
        border-left: 1px solid;
        padding-left: 24px;
      }
    }
  }
}


.footer-bottom {
  background: rgba(0,0,0,.75);
  .mod_customnav {
    padding: 30px 0;
    ul {
      display: flex;
      justify-content: center;
      li {
        padding-right: 20px;
        margin-right: 20px;
        font: normal normal 400 18px/24px Open Sans;
        a {
          color: #A9A9A9;
          position: relative;
          transition: color 250ms;
        }
        &:not(:last-child) {
          border-right: 2px solid white;
        }
        strong {
          color: $gelb;;
          font: normal normal 400 18px/24px Open Sans;
        }
      }
    }
  }
}

@media screen and (max-width: 1025px) {
  #footer .inside .donation {
    .border-radius {
      border: 10px solid white;
      width: 170px;
      height: 170px;
      background-size: 170px;
    }
    p {
      font: normal normal 700 16px/22px Open Sans;
    }
  }
  .footer .footer-top {
    justify-content: center;
    flex-wrap: wrap;
    padding: 120px 0 10px;
    .ce_image {
      width: auto;
      margin: 15px auto;
    }
  }
  .footer-middle {
    padding: 20px 0;
    .ce_text, .footer-middle-right  {
      width: 100%;
      margin: 15px auto;
    }
  }

  .footer.weimar-block .footer-middle {
    .ce_text {
      width: 100%;
      margin: 15px auto;
      text-align: center;
      &:last-child {
        border: 0;
        padding-left: 0;
        text-align: center;
      }
    }
  }

  .footer-middle .footer-middle-right .weather {
    width: 215px;
  }

  #footer .footer .partner-category, .menu-bottom .partner-category {
    .ce_text {
      width: 48%;
      height: 80px;
      margin-bottom: 10px;
      p {
        font: normal normal bold 14px/20px Open Sans;
      }
      &:after {
        background: url("/files/content/Sponsoren/Kukm_Logo.jpg") no-repeat center center;
        background-size: 100%;
      }
    }
    .ce_image {
      margin-bottom: 10px;
    }
  }
  .logo-footer {
    margin: 0;
    border-top: 1px solid white;
  /*  padding-top: 20px;*/
  }
  .footer-bottom .mod_customnav ul li {
    padding-right: 8px;
    margin-right: 10px;
  }

  .footer-middle .weatherwidget-io #weatherwidget-io-0 {
    width: 100%;
  }


  .menu-Navigation .menu_block_wrapper {
    margin-top: 100px !important;
  }

  .mobile_menu .inner .header .menu-close {
    top: 45px !important;
  }

  .mobile_menu .menu-social {
    margin-right: 0 !important;
    width: 100%;
    margin-top: 27px;
  }


}

