@import "variables";

.registration-form {
  padding: 30px 0;
}

#progress-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 930px;
  margin: 0 auto 30px;
}

.progress {
  display: none;
}

.progress-step {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid $gelb;
  position: relative;
  opacity: 1;
  &:not(:last-child) {
    &:before {
      position: absolute;
      content: "";
      bottom: 8px;
      right: -108px;
      height: 2px;
      width: 105px;
      background: #c99c00;
    }
  }
}

.progress-step.active {
  background-color: $gelb;
  color: white;
}

.progress-step.finish {
  background-color: $gelb;
  color: white;
}


.formular {
  margin: 50px auto;
  .page {
    display: none;
    &.active {
      display: block;
    }
  }
}


.formular .formbody .page{
 & > fieldset {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   position: relative;
   .widget.widget {
     width: 49%;
     font: normal normal normal 22px/30px Open Sans;
     padding: 10px 0;
     legend {
       text-transform: uppercase;
       margin-bottom: 15px;
     }
     span {
       label {
         margin-right: 20px;
         position: relative;
         padding-left: 30px;
         &:before {
           position: absolute;
           content: "";
           top: 7px;
           left: 0;
           width: 13px;
           height: 13px;
           background: transparent;
           text-align: center;
           border: 3px solid #C99C00;
           border-radius: 50%;
         }
       }
       input {
         display: none;
       }
     }
   }
   .widget.widget-text.full {
     width: 100%;
     label {
      text-transform: uppercase;
       margin-bottom: 15px;
     }
     input {
       background-color: #eeeff0;
       border: 0;
       width: 100%;
       padding: 10px 20px;
       box-sizing: border-box;
       &.invalid {
         background-color: #ffdddd;
       }
     }
   }
   .widget.widget-text.mandatory {
     width: 100%;
     label {
       width: 100%;
       display: inline-block;
       text-transform: uppercase;
       margin-bottom: 15px;
     }
     input {
       background-color: #eeeff0;
       border: 0;
       padding: 10px 20px;
       box-sizing: border-box;
       &.invalid-input {
         color: red;
       }
     }
   }
   .widget.widget-select.select {
     label {
       display: block;
       margin-bottom: 15px;
       text-transform: uppercase;
     }
     select {
       border: 3px solid $gelb;
       background: transparent;
     }
   }
   .widget.widget-explanation.explanation {
     width: 100%;
   }
 }
}

.formular .formbody .page > fieldset.participant {
  .widget.widget-text.mandatory, .widget.widget-text {
    width: 48%;
    input {
      width: 100%;
      background-color: #eeeff0;
      border: 0;
      padding: 10px 20px;
      box-sizing: border-box;
    }
  }
}


.formular .formbody .page > fieldset.last-block {
  .widget.widget-text.mandatory {
    width: 100%;
  }
}

.formular .formbody .page > fieldset .widget.widget span input:checked ~ label::before {
  background-color: $gelb;
}

.formular .formbody .page {
  fieldset.last-block {
    display: block;
    .widget.widget {
      width: 100%;
      label {
        a {
          color: $gelb;
        }
      }
    }
  }
}

.button-first {
   display: flex;
   justify-content: end;
   margin: 30px auto;
 }

.btn-group {
  text-align: right;
  padding: 50px 0 30px;
  .btn {
    margin: 0 10px;
  }
  &.last.group {
    display: block ruby;
  }
}

.formular .btn-prev, .formular .btn-next, .widget.widget-submit button, .formular button {
  padding: 7px 20px;
  background-color: $gray;
  font: normal normal bold 18px/24px Open Sans;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  outline: 0;
  transition: background-color 250ms;
  &:hover {
    background-color: $gelb;
  }
}

.notification {
  background: $gelb;
  color: red;
  padding: 10px 20px;
  position: absolute;
  overflow: hidden;
  font: italic normal 400 16px/20px Open Sans;
  text-align: center;
  display: inline-block;
  opacity: 1;
  transition: opacity 250ms;
  left: 0;
  width: 50%;
  bottom: -40px;
}

.formular .formbody .page fieldset {
  .participant-check {
    width: 100%;
  }
  fieldset.participant {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    .widget.widget-text.mandatory, .widget.widget-text {
      width: 48%;
      input {
        width: 100%;
        background-color: #eeeff0;
        border: 0;
        padding: 10px 20px;
        box-sizing: border-box;
      }
    }
  }
}

.formular .formbody .page > fieldset .widget.widget-explanation.explanation  {
  h5 {
    font: normal normal 400 22px/30px Open Sans;
    color: $gelb;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
}

.formular .formbody .page .widget.widget-submit {
  text-align: right;
  display: inline-block;
}

.privacy .ce_form {
  max-width: 800px;
  margin: 35px auto 50px;
  padding-bottom: 75px;
}

.privacy .formbody .widget-text,
.privacy .formbody .widget-textarea {
  line-height: 1.5em;
  padding-bottom: 20px;
  label {
    margin-bottom: 7px;
    font: normal normal 400 22px/30px Open Sans;
    span {
      color: $gelb;
    }
  }
  input, textarea {
    resize: none;
    border: 2px solid $gelb;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 10px ;
    outline: none;
    font: normal normal 400 22px/30px Open Sans;
    display: block;
    transition: background-color 250ms;
    &:hover {
      border:2px solid $gray;
    }
  }
}

.privacy .formbody .explanation {
  font-style: italic;
  font-size: 17px;
  margin: 20px auto;
}


.privacy .widget-checkbox {
  margin: 20px 0;
  fieldset {
    span {
      input {
        display: none;
      }
      label {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        font: normal normal 400 22px/30px Open Sans;
        a {
          color: $gray;
          text-transform: initial;
          transition: color 250ms;
          &:hover {
            color: $gelb;
          }
        }
        &:before {
          position: absolute;
          content: "";
          top: 7px;
          left: 0;
          width: 15px;
          height: 15px;
          background: white;
          font-size: 20px;
          text-align: center;
          border: 2px solid $gelb;
        }
      }
    }
  }
}
.privacy .widget-checkbox fieldset span input:checked ~ label::before {
  background: $gelb;
}

.formular .formbody .page > fieldset {
  .widget.widget-checkbox.drawn {
    width: 100%;
  }
  .widget.widget-text.yourText {
    width: 100%;
    float: right;
    position: absolute;
    bottom: -8px;
    right: -310px;
    input {
      background-color: #eeeff0;
      border: 0;
      box-sizing: border-box;
      padding: 5px 15px;
    }
  }
}

.formular .formbody .page fieldset fieldset.participant.second {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1025px) {
  .formular .formbody .page > fieldset {
    .widget.widget {
      width: 100%;
      font: normal normal normal 20px/26px Open Sans;
      padding: 10px 0;
    }
    .widget.widget-text.full input {
      padding: 10px 7px;
      font-size: 14px;
    }
  }
  .formular .formbody .page > fieldset.participant .widget.widget-text.mandatory,
  .formular .formbody .page > fieldset.participant .widget.widget-text,
  .formular .formbody .page fieldset fieldset.participant .widget.widget-text.mandatory,
  .formular .formbody .page fieldset fieldset.participant.second .widget.widget-text {
    width: 100%;
    input {
      font-size: 20px;
      padding: 10px 10px;
    }
  }
  .notification{
    width: 90%;
    bottom: -140px;
  }
  .btn-block {
    padding-top: 40px;
    .btn-group {
      padding: 0;
    }
  }

  .progress-step:not(:last-child)::before {
    left: 20px;
    right: 0;
    width: calc(12.4vw - 20px);
  }
  .formular .formbody .page > fieldset .widget.widget-text.yourText {
    position: relative;
    right: 0;
    float: none;
    bottom: 0;
  }
}

@media screen and (max-width: 450px)  {
  .progress-step:not(:last-child)::before {
    width: calc(11.9vw - 20px);
  }
}

