@import "variables";

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, table, ol, ul, form {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none
}

.h2-span {
  font-weight: 900;
}

a {
  text-decoration: none;
}

.invisible {
  display: none;
}

.stoerer-button {
  position: absolute;
  top: 20vh;
  right: 15vw;
  z-index: 1;
  img {
    width: 200px;
    transition: transform 250ms;
    &:hover {
      transform: rotate(14deg);
    }
  }
}

.sidebar {
  position: absolute;
  top: 50vh;
  right: 0;
  z-index: 20;
  transform: translate(270px, -50%);;
  transition: transform 250ms;
  a {
    color: white;
    padding: 10px 20px;
    font: normal normal 400 30px/41px Open Sans;
    background: $gelb;
    position: relative;
    text-transform: uppercase;
    span {
      font: normal normal 400 24px/33px Open Sans;
    }
    &:before {
      position: absolute;
      content: "";
      width: 75px;
      height: 75px;
      background: url("/files/assets/layout_2024/Gruppe 145-1.svg") no-repeat;
      top: -43px;
      left: -11px;
      background-size: 55px;
      transform: rotate(-45deg);
    }
  }
  &:hover {
    transform: translate(0, -50%);
  }
}

.footer .partner-category, .partner-category {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px auto;
  align-items: center;
  .ce_image {
    width: 24%;
    img {
      background: white;
      box-shadow: 3px 3px 10px #0003;
     /* width: 249px;*/
      height: 136px;
      object-fit: cover;
    }
  }
  .ce_text {
    width: 24%;
    margin: 0;
    p {
      display: inline-block;
     /* background-color: $gray;*/
      font: normal normal bold 18px/24px Open Sans;
      text-transform: uppercase;
      a {
        color: #fff;
        padding: 10px 20px;
        transition: background-color 250ms;
        &:hover {
          background-color: $gelb;
        }
      }
    }
  }
}

.partner-block, .registration-form, .privacy , .footer-bottom ul{
  max-width: 1080px;
  margin: 0 auto;
  width: 90%;
}


.registration-form, .infos, #gallery, .advantages, .bg-image {
  .ce_text {
    text-align: center;
    h2 {
      width: 630px;
      font: normal normal normal 40px/55px Open Sans;
      color: $gelb;
      border-bottom: 1px solid black;
      padding-bottom: 10px;
      margin: 0 auto 10px;
      text-transform: uppercase;
    }
  }
}

/*.mobile_menu_active {
  overflow-y: hidden;
}*/

.back-to-top {
  position: fixed;
  bottom: 75px;
  right: 130px;
  cursor: pointer;
  z-index: 105;
  img {
    transition: filter 250ms;
    &:hover {
      filter: brightness(0) saturate(100%) invert(54%) sepia(95%) saturate(1011%) hue-rotate(15deg) brightness(95%) contrast(100%);
    }
  }
}

.link-header {
  height: 162px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
   /* padding: 20px 0;*/
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    .ce_image {
      width: 100px;
      img {
        width: 80px;
        height: 80px;
      }
    }
    .logo-home {
      p {
        font: normal normal 300 18px/15px "Open sans";
      }
      h2 {
        font: normal normal 400 34px/30px "Open sans";
        margin-top: 15px;
      }
    }
  }
}

.btn p {
  a {
    padding: 15px 30px;
    background: $gelb;
    text-transform: uppercase;
    font: normal normal 700 18px/24px Open Sans;
    transition: background-color 250ms;
    color: white;
    &:hover {
      background-color: $gray;
    }
  }
}

.map-karte {
  margin-bottom: 30px;
  iframe {
    width: 100%;
    height: 600px;
  }
}

.error-image {
  height: 100vh;
  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }
}

.error-teaser {
  position: absolute;
  top: 50%;
  color: white;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    width: 500px;
  }
  h2 {
    font: normal normal 700 26px/40px Open Sans;
    color: white;
    text-transform: uppercase;
  }
  p {
    margin-top: 25px;
    a {
      text-transform: uppercase;
      font: normal normal 600 18px/25px Open Sans;
      display: inline-block;
      padding: 10px 20px;
      border-radius: 30px;
      color: $gelb;
      position: relative;
      border: 2px solid white;
      background-color: white;
      transition: all 0.3s;
      &:hover {
        background-color: transparent;
        color: white;
      }
    }
  }
}


@media screen and (max-width: $tablet) {
  .link-header {
    height: 120px;
  }
  p {
    font: normal normal normal 20px/27px Open Sans;
  }
  .stoerer-button {
    display: none;
  }
  .sidebar {
    transform: translate(200px, -50%);
    a {
      padding: 10px 10px;
      font: normal normal 400 24px/35px Open Sans;
      span {
        font: normal normal 400 18px/25px Open Sans;
      }
    }
  }

  .back-to-top {
    transform: translateX(-50%);
    left: 50%;
    right: auto;
    img {
      width: 60px;
    }
  }

 .footer .partner-category, #main .partner-category {
    .ce_image {
      width: 48%;
      img {
        width: 320px;
        height: 195px;
      }
    }
    .ce_text {
      width: 48%;
      p {
       a{
         padding: 10px 10px;
       }
      }
    }
    &.partner-category-turnier .ce_image {
      width: 48%;
    }
  }

  .link-header {
    a {
      .ce_image {
        width: 85px;
        img {
          width: 65px;
          height: 65px;
        }
      }
      .logo-home {
        p {
          font: normal normal 300 15px/15px "Open sans";
        }
        h2 {
          font: normal normal 400 20px/26px "Open sans";
          margin-top: 9px;
          text-align: left;
        }
      }
    }
  }

  .registration-form, .infos, #gallery,
  .advantages, .bg-image, .without-bg {
    .ce_text {
      h2 {
        width: 90%;
        font: normal normal normal 30px/40px Open Sans;
      }
    }
  }
  .error-teaser {
    top: 60%;
    img {
      width: 280px;
    }
    h2 {
      font: normal normal 700 20px/30px Open Sans;
    }
  }
}

@media screen and (max-width: $smartphone) {
  .footer .partner-category .ce_image img, #main .partner-category .ce_image {
    width: 48%;
    img {
      width: 145px;
      height: 100px;
    }
  }
}