@import "variables";

#header {
  position: fixed;
  width: 100%;
  z-index: 50;
  height: 140px;
  .inside {
    position: relative;
    height: 100%;
    .mod_mobile_menu {
      display: flex;
      position: relative;
      cursor: pointer;
      justify-content: end;
    }
  }
}

.icon-partner {
  background: #c99c00;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  img{
    width: 230px;
  }
}

.header {
  z-index: 2;
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  .link-header {
    background: #C99C00;
    width: 50%;
    text-align: center;
    padding: 20px 0;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: -10px;
    opacity: 0.8;
    a {
      .logo-home {
        p {
          font: normal normal 300 18px/15px "Open sans";
          text-align: left;
        }
        h2 {
          font: normal normal 400 34px/30px "Open sans";
          margin-top: 15px;
        }
      }
    }
  }
}

.home .link-header a {
  padding: 10px 0;
}

@media screen and (max-width: 1025px) {
  .header {
    width: 100%;
    .link-header {
      width: 100%;
      position: relative;
      top: 0;
      a .logo-home {
        p {
          font: normal normal 300 15px/20px "Open sans";
        }
        h2 {
          font: normal normal 400 20px/26px "Open sans";
          margin-top: 0px;
        }
      }
    }
  }

  #header .inside .mod_mobile_menu {
    justify-content: center;
    width: 100%;
    transform: translateY(-50%);
    /*top: -8px;*/
    .mobile_menu_trigger {
      img {
        width: 50px;
      }
    }
  }

  .icon-partner {
    display: none;
  }
}



