@import "variables";

 #container {
  position: relative;
  #main .inside {
    padding-top: 0;
    .header-image {
      position: relative;
      height: 70vh;
      .finale-image-home {
        position: relative;
        height: 100%;
        .image_container {
          height: 100%;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .description {
          position: absolute;
          bottom: 0;
          width: 45%;
          margin: 0 auto;
          transform: translateX(-50%);
          left: 50%;
          height: 170px;
          text-align: center;
          color: #fff;
          background: rgba(0, 0, 0, 0.6);
          font: normal normal normal 25px/41px Open Sans;
          .description-block {
            position: relative;
            transform: translateY(-50%);
            top: 50%;
            .date {
              border-bottom: 1px solid #fff;
              padding-bottom: 15px;
              width: 80%;
              margin: 0 auto;
              font: normal normal 400 22px/30px Open Sans;
              strong {
                font: normal normal 700 30px/30px Open Sans;
                text-transform: uppercase;
              }
            }
            p {
              font: normal normal 400 22px/30px Open Sans;
              margin: 15px 0
            }
            a {
              color: white;
              transition: color 250ms;
              &:hover {
                color: $gelb;
              }
            }
          }
        }
      }
    }
  }
}

.all-partner #container #main .inside .header-image .finale-image-home .description {
  height: 135px;
}

.final-round #container #main .inside .header-image .finale-image-home .description {
 /* background-color: $gelb;
  opacity: .7;*/
  background-color: rgba(201, 156, 0, .7);
  &:after {
    position: absolute;
    content: "";
    width: 165px;
    height: 133px;
    background: url("/files/assets/layout_2024/Differenzmenge 10 1.svg") no-repeat;
    top: -101px;
    right: -46px;
    opacity: 0.7;
  }
}

.teaser-contain {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  margin: 0 auto;
  max-width: $content-width;
  .logo-home {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px #000;
    p {
      font: normal normal 400 30px/35px"Open sans";
    }
    h2 {
      font: normal normal 400 44px/60px "Open sans";
    }
  }
}

.map, .partner {
  color: $gelb;
  text-align: center;
  margin: 70px auto;
  .ce_text {
    max-width: 700px;
    margin: 0 auto 50px;
    width: 80%;
    h2 {
      font: normal normal normal 30px/41px Open Sans;
      text-transform: uppercase;
      border-bottom: 1px solid black;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    p {
      font: italic normal normal 22px/30px Open Sans;
    }
  }
}

.all-location {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  padding-top: 20px;
  flex-wrap: wrap;
  .location-left, .location-right {
    display: flex;
    justify-content: space-between;
    width: 43%;
    flex-wrap: wrap;
    .ce_text {
      width: 230px;
      text-align: right;
      p {
        font: normal normal normal 22px/40px Open Sans;
      }
    }
    .all-date {
      width: 70px;
      border-left: 1px solid black;
      padding-left: 15px;
      margin-left: 15px;
      margin-bottom: 20px;
    }
  }
  .location-right {
    .ce_text {
      text-align: left;
  /*    p {
        position: relative;
        &:last-child {
          &:before {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;;
            background: url("/files/assets/layout_2024/Gruppe 145-1.svg") no-repeat;
            top: 0;
            right: -2px;
            background-size: 20px;
          }
        }
      }*/
    }
    .all-date {
      border-right: 1px solid black;
      border-left: 0;
      padding-left: 0;
      margin-left: 0;
      padding-right: 15px;
      margin-right: 15px;
    }
  }
}

.final-teaser {
  p {
    max-width: 400px;
    margin: 15px auto 0;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;;
      background: url("/files/assets/layout_2024/Gruppe 145-1.svg") no-repeat;
      top: -3px;
      right: 10px;
      background-size: 20px;
    }
  }
}

.bg-teaser {
  background: $gray;
  .ce_text {
    padding: 70px 0;
    margin: 0 auto;
    width: 90%;
    max-width: 1080px;
    color: white;
    font: normal normal normal 22px/30px Open Sans;
    p {
      a {
        color: white;
      }
      &:last-child {
        text-transform: uppercase;
      }
    }
  }
}

.without-bg {
  background: none;
  .ce_text {
    text-align: center;
    color: black;
    h2 {
      font: normal normal 400 30px/41px Open Sans;
      color: $gelb;
      border-bottom: 1px solid black;
      padding-bottom: 10px;
      max-width: 630px;
      text-transform: uppercase;
      margin: 0 auto 10px;
    }
    h3 {
      color: $gelb;
      font: italic normal 400 22px/30px Open Sans;
    }
    p {
      &:last-child {
        text-transform: initial;
      }
    }
  }
}

.partner {
  margin-bottom: 100px;
}
.partner-block {
  padding-bottom: 60px;
  &.partner-block-turnier {
    max-width: 1553px;
  }
  h2 {
    text-align: left;
    font: normal normal normal 24px/33px Open Sans;
    text-transform: uppercase;
  }
  .partner-category {
    &.partner-category-turnier .ce_image {
      width: 20%;
    }
    .ce_image {
      margin: 15px 0;
    }
    .ce_text {
      p {
        a {
          color: #fff;
          background-color: $gray;
          &:hover {
            background-color: $gelb;
          }
        }
      }
    }
    &:not(:last-child){
      border-bottom: 1px solid black;
      padding-bottom: 40px;
    }
  }
}

.bg-yellow {
  margin: 60px auto;
  height: 350px;
  background: url("/files/content/Golfturnier_04.jpg") no-repeat 0/cover;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(201, 156, 0, .8);
    z-index: 20;
  }
}

.advantages {
  margin: 75px auto;
  .advantages-infos {
    padding: 30px 0;
    max-width: 970px;
    .advantages-box {
      width: 25%;
      .advantages-content {
        .advantages-teaser {
          font: normal normal normal 20px/27px Open Sans;
          border-top: 1px solid $gelb;
        }
      }
    }
  }
  .ce_text p {
    margin: 30px auto;
    display: inline-block;
    padding-bottom: 30px;
    a {
      padding: 15px 30px;
      background: #c99c00;
      color: white;
      text-transform: uppercase;
      font: normal normal 700 18px/24px Open Sans;
      transition: background-color 250ms;
      &:hover {
        background-color: $gray;
      }
    }
  }
}

.advantages-infos, .block-box {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .block-link, .advantages-box {
    width: 24%;
    .box, .advantages-content {
      position: relative;
      text-align: center;
      box-sizing: border-box;
      padding: 20px 24px;
      img {
        width: 85px;
        height: 85px;
      }
      .box-teaser, .advantages-teaser {
        padding-top: 15px;
        margin: 15px 0 0;
        text-align: center;
      }
    }
  }
}


.block-box {
  transform: translateY(-50%);
  top: 50%;
  z-index: 25;
  .block-link {
    background-color: transparent;
    cursor: pointer;
    transition: background-color 250ms;
    .box {
      img {
        &.icon-hover {
          display: none;
        }
      }
      .box-teaser {
        border-top: 1px solid white;
        transition: border-color 250ms;
        h3 {
          color: white;
          font: normal normal 400 18px/27px Open Sans ;
          text-transform: uppercase;
          transition: color 250ms;
        }
      }
    }
    &:hover {
      background-color: white;
      opacity: .7;
      & > .box .icon-content {
        display: none;
      }
      & > .box .icon-hover {
        display: initial;
      }
      & > .box .box-teaser  {
        border-color: $gelb;
        h3 {
          color: $gelb;
        }
      }
    }
    &:last-child {
      .box img {
        margin-left: 40px;
      }
    }
  }
}

.infos {
  margin: 50px auto;
  padding: 30px 0 75px;
}

.content-infos {
  width: 90%;
  margin: 110px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1500px;
  .infos-box {
    display: block;
    width: 13.5%;
    text-align: center;
    box-sizing: border-box;
    background: #FFF;
    box-shadow: 0 3px 8px #00000029;
    max-width: 220px;
    padding: 10px 5px;
    .icon {
      border-bottom: 1px solid $gelb;
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
    h3 {
      text-align: center;
      font: normal normal normal 22px/30px Open Sans;
      color: $gelb;
      text-transform: uppercase;
      margin-bottom: 10px;
      height: 60px;
    }
    p {
      text-align: center;
      font: normal normal normal 20px/27px Open Sans;
    }
    .infos-icon {
      margin-top: 30px;
      position: relative;
      img {
        cursor: pointer;
      }
    }
  }
}

.content-infos .infos-box .infos-block {
  position: absolute;
  background: url("/files/assets/layout_2024/info-block.svg") top center no-repeat;
  width: 170px;
  height: 70px;
  left: 50%;
  transform: translateX(-50%);
  top: 35px;
  background-size: 170px;
  display: none;
  .infos-teaser {
    top: 25%;
    position: relative;
    p {
      font: normal normal normal 16px/22px Open Sans;
      color: white;
    }
  }
}

.results .ce_text h2 {
  width: 750px;
}

.ce_download {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 3px 3px 10px #00000029;
  width: 250px;
  margin: 50px auto;
  height: 115px;
  overflow: hidden;
  z-index: 0;
  position: relative;
  padding: 0 10px;
  h2 {
    font: normal normal normal 22px/30px Open Sans;
    color: #C99C00;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding: 10px 0 7px;
    max-width: max-content;
    margin: 10px auto;
    transition: color 0.3s;
  }
  a {
    font: normal normal 300 22px/30px Open Sans;
    color: black;
    transition: color 0.3s;
  }
  &:after {
    position: absolute;
    top: -115px;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: $gelb;
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    z-index: -1;
  }
  &:hover {
    &:after {
      transform: translate3d(0,100%,0);
    }
    h2,  a {
      color: white;
    }
  }
}

#becoming-partner {
  height: auto;
  margin-bottom: 30px;
  .ce_text {
    padding: 100px 0;
    text-align: center;
    color: white;
    z-index: 25;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    h2 {
      font: normal normal 400 40px/55px Open Sans;
      text-transform: uppercase;
      border-bottom: 1px solid black;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    h3 {
      font: normal normal 400 30px/36px Open Sans;
      text-transform: uppercase;
    }
    p {
      font: normal normal 400 22px/30px Open Sans;
      &:last-child {
        margin: 30px auto 85px;
      }
      a {
        background: white;
        padding: 15px 25px;
        text-transform: uppercase;
        font: normal normal bold 18px/24px Open Sans;
        color: $gelb;
        transition: color 250ms, background-color 250ms;
        &:hover {
          color: white;
          background-color: $gray;
        }
      }
    }
  }
}


#container .bg-image {
  height: 450px;
 /* background: url("/files/content/Mallorca/25773cf366cdac6f21de4f9b248fe08d646e4443.webp") no-repeat 0/cover;*/
  position: relative;
  margin: 0 auto 60px;
  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    z-index: 20;
    display: none;
  }
  .ce_text {
    transform: translateY(-50%);
    top: 50%;
    z-index: 25;
    max-width: $content-width;
    margin: 0 auto;
    position: relative;
   /* color: white;*/
    color: black;
    h2 {
      border-bottom: 1px solid black;
     /* color: white;*/
    }
    p {
      text-align: center;
      font: normal normal normal 22px/30px Open Sans;
      padding: 50px 0;
    }
  }
}

.mobile-only {
  display: none;
}

.imprint .privacy {
  margin: 50px auto;
  .ce_text {
    padding-bottom: 75px;
    hr {
      border-color: $gelb;
    }
    h2 {
      max-width: 650px;
      font: normal normal normal 40px/55px Open Sans;
      color: #C99C00;
      border-bottom: 1px solid black;
      padding-bottom: 10px;
      margin: 0 auto 40px;
      text-transform: uppercase;
      text-align: center;
    }
    p {
      font: normal normal 300 22px/30px Open Sans;
      margin-bottom: 25px;
      a {
        color: $gelb;
        font-weight: 400;
        margin-bottom: 24px;
      }
    }
  }
}

.location {
  display: none;
}

@media screen and (max-width: 1430px) {
  .content-infos .infos-box {
    max-width: 100%;
    h3 {
      font: normal normal normal 20px/28px Open Sans;
    }
  }
}

@media screen and (max-width: 1350px) {
  .content-infos .infos-box {
    width: 18%;
    margin: 10px auto;
    .infos-icon {
      padding-bottom: 10px;
    }
  }
}

@media screen and (max-width: 1025px) {
  .mobile-only {
    display: initial;
  }
  .desktop-only {
    display: none;
  }
  #container #main .inside .header-image {
    height: 100vh;
    .finale-image-home .description {
      width: 90%;
      height: 130px;
      .description-block {
        .date {
          padding-bottom: 10px;
          width: 90%;
          font: normal normal 400 18px/30px Open Sans;
          strong {
            font-size: 22px;
          }
        }
        p {
          margin: 5px 0;
        }
      }
    }
  }

  .teaser-contain .logo-home {
    h2 {
      font: normal normal 400 26px/36px "Open sans";
    }
    p {
      font: normal normal 400 18px/22px "Open sans";
    }
  }

  .map .ce_text {
    margin: 0 auto;
  }

  .all-location {
    .location-left, .location-right {
      width: 100%;
      .ce_text {
        width: auto;
        text-align: center;
        p {
          font: normal normal normal 20px/35px Open Sans;
        }
      }
      .all-date {
        border: none;
      }
    }
  }
  .all-location .location-right .all-date {
    padding-left: 15px;
    margin-left: 15px;
  }

  .map, .partner {
    margin: 50px auto;
    .ce_text {
      h2 {
        font: normal normal normal 26px/36px Open Sans;
      }
    }
  }

  .partner-block .partner-category {
    margin: 15px auto 50px;
    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }

  .bg-yellow {
    margin: 30px auto;
    height: auto;
    .block-box {
      transform: translateY(0%);
      top: 0;
      padding: 20px 0;
    }
  }

  .block-box .block-link {
    width: 100%;
  }

  .content-infos .infos-box {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    h3 {
      height: 40px;
    }
  }

  .results .ce_text h2 {
    width: 90%;
  }

  #becoming-partner .ce_text {
    width: 90%;
    max-width: 100%;
    h2 {
      width: 90%;
      margin: 0 auto;
      font: normal normal normal 30px/40px Open Sans;
    }
    h3 {
      font: normal normal 400 26px/30px Open Sans;
    }
    p {
      font: normal normal normal 20px/27px Open Sans;
    }
  }

  .final-round #container #main .inside .header-image .finale-image-home .description {
    &:after {
      width: 75px;
      height: 75px;
      top: -40px;
      right: -27px;
      background-size: 65px;
    }
  }

  .advantages .advantages-infos .advantages-box {
    width: 100%;
  }

  #container .bg-image {
    height: auto;
    .ce_text {
      transform: translateY(0);
      top: 0;
      padding: 50px 0;
      width: 90%;
      margin: 0 auto;
      p {
        padding: 0;
        font: normal normal 400 20px/27px Open Sans;
      }
    }
  }

  .imprint .privacy .ce_text {
    padding-bottom: 40px;
    h2 {
      width: 90%;
      font: normal normal 400 30px/40px Open Sans;
      max-width: 100%;
    }
    p {
      font: normal normal 300 20px/27px Open Sans;
    }
  }

  .location {
    display: block;
    .ce_text {
      display: flex;
      justify-content: space-around;
      font: normal normal normal 22px/40px Open Sans;
      p {
        text-align: right;
        width: 65%;
        font-size: 18px;
        &:last-child {
          width: 40%;
          text-align: left;
          border-left: 1px solid;
          padding-left: 15px;
          margin-left: 15px;
        }
        a {
          color: $gelb;
        }
      }
    }
  }

  .all-location {
    display: none;
  }

  .map .final-teaser p {
    font-size: 18px;
    max-width: 335px;
    &:after {
      right: 8px;
    }
  }
}

@media screen and (max-width: 365px) {
  .map .final-teaser p {
    font-size: 18px;
    &:after {
      right: 97px;
      top: 26px;
    }
  }
}



