@import "variables";

.mobile_menu {
  z-index: 201;
  .inner {
    background: url("/files/content/Golfresort.jpg") no-repeat 0/cover;
    position: relative;
   /* overflow-y: hidden;*/
    .header {
     /* background-color: rgba(201, 156, 0, .7);*/
      width: 90%;
      .link-header {
        background: none;
      }
      .menu-close {
        display: inline-block;
        position: absolute;
        right: 0;
      }
    }
    &:after {
      position: fixed;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0.6;
      z-index: 1;
    }
  }
}

.mobile_menu .inner .bg-header {
  background-color: rgba(201, 156, 0, 0.7);
  z-index: 100;
  position: relative;
  height: 162px;
}

.menu-Navigation, .menu-bottom {
  width: 90%;
  max-width: $content-width;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.menu-Navigation .menu_block_wrapper {
  .nav_right, .nav_left {
    width: 48%;
  }
}

.menu-Navigation {
  padding-top: 30px;
  margin-bottom: 35px;
  .menu_block_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    .nav_right {
      display: block;
      .ce_text, .hyperlink_img {
        position: relative;
        img {
          object-fit: cover;
          height: 195px;
          width: 100%;
          transition: transform .3s;
        }
        .nav-caption {
          background: rgba(0, 0, 0, 0.6);
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: absolute;
          bottom: -10px;
          width: 245px;
          padding: 10px 0;
          p {
            font: normal normal 400 20px/24px Open Sans;
            padding: 0px 10px;
            color: white;
            strong {
              font: normal normal bold 30px/24px Open Sans;
            }
          }
        }
        &:not(:last-child) {
          margin-bottom: 35px;
        }
      }
    }
  }
}

.inner .menu-Navigation .menu_block_wrapper .nav_right .image-text:last-child > .nav_caption {
  background-color: rgba(201, 156, 0, .7);
  opacity: 1;
  &:after {
    position: absolute;
    content: "";
    width: 75px;
    height: 75px;
    background: url("/files/assets/layout_2024/Differenzmenge 10 1.svg") no-repeat;
    top: -35px;
    right: -31px;
    background-size: 60px;
    opacity: .7;
  }
}

.menu-Navigation .menu_block_wrapper {
  .nav_left {
    background-color: rgba(201, 156, 0, .75);
    color: white;
    .headline-menu {
      text-align: center;
      font: normal normal 800 25px/40px Open Sans;
      text-transform: uppercase;
      padding: 30px 0 20px;
      h2 {
        border-bottom: 1px solid;
        max-width: 200px;
        margin: 0 auto;
        padding-bottom: 15px;
      }
    }
    .ce_text {
      display: flex;
      justify-content: space-around;
      font: normal normal normal 22px/40px Open Sans;
      p {
        text-align: right;
        width: 45%;
        &:last-child {
          text-align: left;
          border-left: 1px solid;
          padding-left: 15px;
          margin-left: 15px;
          position: relative;
          font-weight: 400;
          &:after {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            border: 2px solid white;
            border-radius: 50%;
            top: 15px;
            left: 100px;
          }
        }
      }
    }
  }
}

.menu-Navigation .menu_block_wrapper {
  .nav_right {
    .image-text {
      position: relative;
      display: block;
      overflow: hidden;
      transition: overflow 0.3s;
      .menu-image {
        object-fit: cover;
        height: 195px;
        width: 100%;
        transition: transform 0.3s;
      }
      .nav_caption {
        background: rgba(0, 0, 0, 0.6);
        height: 60px;
        display: flex;
        /*align-items: center;*/
        justify-content: space-between;
        position: absolute;
        bottom: -10px;
        width: 245px;
        padding: 15px 0;
        span {
          font: normal normal 400 20px/24px Open Sans;
          padding: 0 10px;
          color: white;
          margin-top: 10px;
          strong {
            font: normal normal bold 30px/24px Open Sans;
          }
        }
      }
      &:last-child >.nav_caption {
        background-color: #C99C00;
        opacity: 0.7;
      }
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.menu-Navigation .menu_block_wrapper .nav_right .image-text:hover {
  /*overflow: hidden;*/
  & > .menu-image {
    transform: scale(1.2);
  }
}


.menu-Navigation .menu_block_wrapper .nav_left .ce_text.click p:last-child::after {
  background: white;
}


.menu-bottom {
  border-top: 1px solid white;
  padding-top: 20px;
  margin-top: 15px;
  .partner-category {
    margin: 20px auto;
  }
}

@media screen and (max-width: 1025px) {
  .mobile_menu .inner .header .menu-close {
    display: flex;
    position: relative;
    justify-content: center;
    right: 0;
    width: 100%;
    transform: translateY(-50%);
    top: 0;
    img {
      width: 50px;
    }
  }
  .menu-Navigation {
    padding-top: 0;
    .menu_block_wrapper {
      .nav_left, .nav_right {
        width: 100%;
        margin: 30px auto;
      }
      .nav_left {
        padding-bottom: 20px;
        .ce_text {
          width: 90%;
          margin: 0 auto;
          p {
            font-size: 18px;
            width: 55%;
            &:last-child {
              width: 42%;
              &:after {
                top: 3px;
                left: 90px;
              }
            }
          }
        }
      }
    }
  }
  .menu-Navigation .menu_block_wrapper .nav_right .image-text .nav_caption span {
    margin-top: 0;
  }
}